<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QDT_Filter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D4F20DF1E7797B9009DF742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D4F20F81E7797B9009DF742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D4F21031E7797B9009DF742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
